<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
<head>  
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true,
      processEnvironments: true
    },
    options: {
      enableMenu: true
    }
  };
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.js" integrity="sha384-Me5m0n1+8atp9h8VqkG/pnsPsrOSy/ZyG0q9e74R2CBzw1qElCmWSk9Sb5Z1smMf" crossorigin="anonymous"></script>
</head>
  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
